{{ define "home" }}
<html>
  <body>
    <ul>
      <li>
        <a href="gnparser">gnparser API (current <strong>/api/v1</strong>)</a>:
        parse scientific names
      </li>
      <li>
        <a href="gnmatcher">gnmatcher API (old <strong>/api/v1</strong>)</a>:
        match names without data sources information
      </li>
      <li>
        <a href="gnmatcher-beta"
          >gnmatcher API (current <strong>/api/v0</strong>)</a
        >: match names without data sources information
      </li>
      <li>
        <a href="gnames">gnames API (old <strong>/api/v1</strong>)</a>: match
        names to biodiversity data sources
      </li>
      <li>
        <a href="gnames-beta">gnames API (current <strong>/api/v0</strong>)</a>:
        match names with advanced search capabilities
      </li>
      <li>
        <a href="gnfinder">gnfinder API (old <strong>/api/v1</strong>)</a>:
        detect names in plain text
      </li>
      <li>
        <a href="gnfinder-beta"
          >gnfinder API (current <strong>/api/v0</strong>)</a
        >: detect names in plain text
      </li>
    </ul>
  </body>
</html>
{{ end }}
