{{ define "home" }}
<html>
  <body>
    <ul>
      <li><a href="{{ .Domain }}/gnparser">gnparser API</a>: parse scientific names</li>
      <li><a href="{{ .Domain }}/gnmatcher">gnmatcher API</a>: match names without data sources information</li>
      <li><a href="{{ .Domain }}/gnames">gnames API</a>: match names to biodiversity data sources</li>
      <li><a href="{{ .Domain }}/gnames-beta">gnames API Beta</a>: gnames with advanced search capabilities</li>
      <li><a href="{{ .Domain }}/gnfinder">gnfinder API</a>: detect names in plain text</li>
    </ul>
  </body>
</html>
{{ end }}
