{{ define "home" }}
<html>
  <body>
    <ul>
      <li><a href="https://apidoc.globalnames.org/gnparser">gnparser API</a>: parse scientific names</li>
      <li><a href="https://apidoc.globalnames.org/gnmatcher">gnmatcher API</a>: match names without data sources information</li>
      <li><a href="https://apidoc.globalnames.org/gnames">gnames API</a>: match names to biodiversity data sources</li>
      <li><a href="https://apidoc.globalnames.org/gnfinder">gnfinder API</a>: detect names in plain text</li>
    </ul>
  </body>
</html>
{{ end }}
